html, body, #root {
    height: 100vh;          /* Full viewport height */
    width: 100vw;
    margin: 0;             /* Remove default margin */
    padding: 0;            /* Remove default padding */
    overflow: hidden;      /* Prevent scrollbars */
    display: flex;        
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cards {
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 35%;
    /* width: 35%; */
    position: relative;
}

.front-card {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 447px;
    height: 225px;
}

.front-card-inside {
    width: 90%;
    /* width: */
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    /* align-items:; */
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.front-card-inside > img {
    height: 50px;
    width: 80px;
    margin-bottom: 2.5rem;
}

.front-card-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-number {
    letter-spacing: 4px;
    font-size: 1.5rem;
}

.front-card-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






.back-card {
    margin-top:1rem;
    position: absolute;
    top: 50%;
    left: 40%;
}

.back-card-inside {
    color: white;
    position: absolute;
    top: 6rem;
    left: 22rem;

}



.forms {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2rem;
    position:relative;
    left: -10%;
    overflow: hidden;
}

.forms-cvv-expiry {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-self: left;
}


.date {
    display: flex;
    gap: 1rem;
    
}
.date > input {
    width: 30%;
    gap: 0rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input {
     border-radius: 5px;
     border-width: 1px;
     height: 30px;
     /* width: 60% */
     width: 60%;
}

button {
    letter-spacing: 1px;
    color: white;
    background-color: #220930;
    width: 60%;
    height: 30px;
}