
.nav-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
}

.nav-bar img {
    height: 20px;
}

.nav-bar button {
    color: hsl(322,100%,66%);
    cursor: pointer;
    padding: 0.5rem 2rem;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid hsl(322, 100%, 66%);
    font-weight: 600;
}

.nav-bar button:hover {
    color: hsl(321, 100%, 78%);
    border: 1px solid hsl(321, 100%, 78%);
}

@media (max-width: 768px) {

}
