/* Global CSS: index.css or global stylesheet */
html, body, #root {
        height: 100%;          /* Full viewport height */
        margin: 0;             /* Remove default margin */
        padding: 0;            /* Remove default padding */
        overflow: hidden;      /* Prevent scrollbars */
        /* display: flex;        
        justify-content: center;
        align-items: center;
        background-color: BLue; Optional background color */
    }
    
    
    